
{% extends "material/base.html" %}
{% block content %}
<div class="showcase container greay">
    <div class="row">
        <div class="col 12 m10 offset-ml center">
            <h2>ML Web App</h2>
            <h3>Movie Profit and Loss Predictor</h3>
            <h5>Supervised Machine Learning</h5>
            <p>by Ying Li, Neal, Nick Setnik, and Pam Zhao</p>
            <br>
            
            <a href="{{url_for('index')}}" class="btn btn-small waves-effect waves-dark">Reset</a>
            <a href="{{url_for('movies_api')}}" class="btn btn-small white black-text waves-effect waves-dark">Movies API</a>
        </div>
    </div>
</div>
<section class="section section-signup">
    <div class="container">
        <div class="row">
            <div class="col col-4">
                <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                    <form action="{{url_for('analyze')}}" method="POST" >
                
                        <div class="range-field">
                            <input type="range" min="0" max="500" step="1" value="0" name="budget">
                            <label>Budget (million)</label>
                        </div>
            
                        <div class="range-field">
                            <input type="range" min="0" max="150" step="0.01" value="0" name="view">
                            <label>Trailer Youtube Views (million)</label>
                        </div>
            
                        <div class="range-field">
                            <input type="range" min="0" max="900" step="1" value="0" name="like">
                            <label>Trailer Youtube Likes (k)</label>
                        </div>
            
                        <div class="range-field">
                            <input type="range" min="0" max="5000" step="1" value="0" name="comment">
                            <label>Trailer Youtube Comments (k)</label>
                        </div>
                        <br>
                        <input type="submit" value="Predict" class="btn btn-small">
                        
                    </form>
                </div>

            </div>

            <div class="col col-4">
                <div class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0">
                    <p>Budget: {{input_budget}} million</p>
                    <p>Views: {{input_view}} million</p>
                    <p>Likes: {{input_like}} thousand</p>
                    <p>Comments: {{input_comment}} thousand</p>
                </div>
            </div>

                <div class="col col-4">
                <h5>Prediction: {{predict}}</h5>

                <div>
                    {% if predict=="1" %}
                    <p>Profitable</p>
                    {% else %}
                    <p>Not Profitable</p>
                    {% endif %}
                <!-- Result of the prediction here -->
            </div>

        </div>
    </div>
</section>

<div>

</div>

<div>
    <p>Select Year:
        <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
        </select>
    </p>
</div>

<div class="row">
    <div class="col s12 m4 offers">
        <div class="graph-1">
            <div id="scatter1"></div>
        </div>
    </div>
    <div class="col s12 m4 offers">
        <div class="graph-2">
            <div id="scatter2"></div>
        </div>
    </div>
    <div class="col s12 m4 offers">
        <div class="graph-3">
            <div id="scatter3"></div>
        </div>
    </div>
</div>
<div class="row">
    <h5 style="text-align:justify">Pearson's correlation</h5>
    <div id="r">
    </div>
    
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="../static/js/plot.js"></script>

{% endblock %}

