html, h1, h2 * {
  font-family: "BebasNeueRegular";
  font-size: 17px;
  word-spacing: .4px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.selector {
  background-image: linear-gradient(white, black);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  width: 100px;
  height: 100px;
}

body {
  padding-top: 65px;
    margin: 0;
    background: #E50914;
    background-color: #E50914;
   }
  
  #map,
  body,
  html, header {
    height: 100%;
  }

  p, h4, h6, small {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
  }
  
  .Button {
    color: rgb(224, 192, 104); 
    font-size: 25px; 
    line-height: 25px; padding: 8px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .Button:hover {
    background: #1C6EA4; }
    .Button:active {
    background: #144E75; }

  .navbar {
    background-color: #E50914;
    background: #E50914;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #000000 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #000000 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #000000 100%);
  }

 #color1 {
    background-color: #144E75;
}
#color2 {
  background-color: #FFEC8B;
}
#color3 {
  background-color: #72A0C1;
}
#color4 {
  background-color: #000000;
}
#timestamp {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: lightgray;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

#linePlot{
        background-image: url("https://images4.alphacoders.com/888/888105.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        transition: 1s ease-out;
}

#footnote{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0.2px;
  color: lightgray;
  font-weight: 700;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  transition: .1s;
}
  #footnote:hover{
    color: #72A0C1;
    font-size: 17px;
    text-decoration-color: #144E75;
  }


.footer-link:hover {
  text-decoration: none !important;
}

}
.footer-text {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.nav-link {
  color: #ffffff !important;
  padding-top: 5px;
  padding-bottom: 2px;
}

.nav-link:hover {
  color: #72A0C1 !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.navbar-brand {
  color: #ffffff;

}

.navbar-brand:hover {
  color: #72A0C1 !important;
}



.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}