<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Box Offic Analysis</title>

 <!-- Our CSS -->
 <link rel="stylesheet" type="text/css" href="static/css/style.css">
 
<!-- FontAwesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

 <!-- Bootstrap -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    
     <!-- navbar -->
     <nav class="navbar navbar-expand-lg fixed-top">
      <div class="typewriter">
        <a class="navbar-brand" href="/">Box Office Analysis</a>
      </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        </div>
      </nav>


    <div class="container-1">
      <div class="typewriter">
    <h1>Welcome to the Box Office Analysis landing page! 
      <br>
      This is a simple tool used to explore the correlation <br> 
      between reception of Movie Trailers on YouTube <br>
      to the movies actual box office success.<br>
      Does Youtube trailers affect Movie Performance?
    </h1>
      </div>
    </div>
    
    <!-- scatter plot -->
  <div class="button-container">
    <div class="label">
      <p>Select Year:
      <select id="selDataset" onchange="optionChanged(this.value)"></select></p>
    </div>
    <div>
          <button class="Button" onclick="openYear(event, '2016')">2016</button>
    </div>
    <div>
          <button class="Button" onclick="openYear(event, '2017')">2017</button>
    </div>
    <div>
          <button class="Button" onclick="openYear(event, '2018')">2018</button>
      </div>
    </div>

<!-- plots -->
<div class="container-3">
      <div class="graph-1">
          <div id="scatter1"></div>
      </div>
      <div class="graph-2">
        <div id="scatter2"></div>
      </div>
      <div class="graph-3">
          <div id="scatter3"></div>
      </div>
        <div class="typewriter">
          <h2 id="pearson" style="text-align:justify"><strong>Pearson's correlation</strong></h2>
          <div id="r">
          </div>
        </div>
</div>

<!-- d3/plotly -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- JS -->

<script src="{{ url_for('static', filename='js/plot.js') }}"></script>

</body>
</html>